

<h1><i class="fa fa-caret-square-o-down" aria-hidden="true"></i></h1>

<table >
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_carts.each do |item_cart| %>
      <tr>
        <td><%= item_cart.item.title %></td>
        <td><%= item_cart.item.price %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Destroy', cart_path(id: current_user.cart.id, item_cart_id: item_cart.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>

      </tr>
    <% end %>

    <tr>
            <td><strong>Total</strong></td>
            <td><strong><%= @total %></strong></td>
    <tr>
  </tbody>
</table>

<br>


<%= link_to 'Checkout', orders_path , method: :post%>

</div>
