<p>Thanks you <%= @user.email%>!</p>

<p>Your order is confirmed !</p>

<p>Here you can find your items :</p>
<% @item_carts.each do |item_cart| %>
  <p>Title : <%= item_cart.item.title%></p>
  <p>Price : <%= item_cart.item.price%> $</p>
  <% if item_cart.item.image_url.attached? %>
        <p><%= url_for(item_cart.item.image_url)%></p>
    <% else %>
       <p><%= url_for(image_url('cat-default'))%></p>
    <% end %>
<%end%>

<p> Thanks you for your purchase </p>
<p> See you soon ! </p>
