<div class="col-lg-12">
  <div class="card mb-3">
    <h3 class="card-header"><%=item.title%></h3>
    <div class="card-body">
      <h5 class="card-title">Description</h5>
      <h6 class="card-subtitle text-muted"><%=item.description%></h6>
    </div>
    <img style="height: 200px; width: 100%; display: block;" src="<%=item.image_url%>" alt="<%=item.description%>">
    <div class="card-body">
      <p class="card-text">Don't wait any longer to offer you a high quality render of this cutie !</p>
    </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Price</li>
        <li class="list-group-item">$ <%=item.price%></li>
      </ul>
    <div class="card-body">
      <button type="button" class="btn btn-outline-primary"><%= link_to "More about it", item_path(item, item.id)%></button>
      <a href="#top" type="button" class="btn btn-outline-primary">Back to the top !</a>
    </div>
  </div>
</div>