<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="<%= @item.image_url %>" alt="tets" class="img-thumbnail">
    </div>
    <div class="col-md-6">
      <h1><%= @item.title %></h1>
      <p class="lead">Description :</p>
      <p><%= @item.description %></p>
      <p><strong>Prix : </strong><%= @item.price %> €</p>
    </p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary"> <%= link_to 'Edit', edit_item_path(@item) %> </button>
      <button type="button" class="btn btn-secondary"><%= link_to 'Back', items_path %></button>
    </div>
  </div>
</div>