<div class="container mt-5 item-show-section">
  <div class="row">
    <div class="col-12">
      <img src="<%= @item.image_url %>" alt="tets" class="img-thumbnail">
    </div>
  </div>



    <div class="item-info-wrapper mt-5 row">

      <div class="col-6">
        <h1><%= @item.title %></h1>
        <p class="lead">Description :</p>
        <p><%= @item.description %></p>
        <p><strong>Prix : </strong><%= @item.price %> €</p>
      </div>

      <div class="col-6">
        <div class="btn-group float-right d-flex align-items-center" role="group" aria-label="Basic example">
            <%= link_to carts_path( item_id: @item.id) , method: :post  do %>
            <i class="fas fa-cart-plus fa-2x mr-3"></i>
            <% end %>
          <button type="button" class="btn btn-secondary"><%= link_to 'Back to shop', items_path %></button>
        </div>
      </div>
    </div>

</div>