<!DOCTYPE html>
<html>
  <head>
    <title>Chatonmaton</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <!-- Main content of body -->
  <div class="" style="margin-top:100px; margin-bottom:60px; ">

    <section id="alert-section">
      <% flash.each do |key, value| %>
      <div class="alert-dismissible text-center p-2 container <%= flash_class(key) %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= value unless value.blank? %>
      </div>
      <% end %>
    </section>

    <%= yield %>
  </div>



  </body>
</html>
